VBox {
    -fx-padding: 10 10 10 10
}
Text {
    -fx-font-size: 50;
    -fx-fill:red;
}
GridPane {
    -fx-padding: 0 0 30 0;
}

Button {
    -fx-font-size: 15;
    -fx-background-color: #212121;
    -fx-padding: 10 10 10 10;
}
Button:hover{
    -fx-background-color: #383838;
    -fx-text-fill: #ffffff
}
